<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>800</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Ariel Martín Pérez, 2018</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>Ouroboros</string>
	<key>openTypeHeadCreated</key>
	<string>2021/02/15 16:41:57</string>
	<key>openTypeNameDesigner</key>
	<string>Ariel Martín Pérez</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.arielgraphisme.com</string>
	<key>openTypeNameLicense</key>
	<string>SIL Open Font License v1.1</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Velvetyne Type Foundry</string>
	<key>openTypeNameManufacturerURL</key>
	<string>velvetyne.fr</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>Ouroboros-Regular</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Ariel Martín Pérez - www.arielgraphisme.com</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
