<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.8</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A_A.liga</string>
		<string>A_A_A.liga</string>
		<string>A_H_A.liga</string>
		<string>A_K_A.liga</string>
		<string>A_M_A.liga</string>
		<string>A_N_A.liga</string>
		<string>A_Ntilde_A.liga</string>
		<string>A_R_A.liga</string>
		<string>A_R_R_A.liga</string>
		<string>A_X_A.liga</string>
		<string>H_A.liga</string>
		<string>I_A.liga</string>
		<string>I_A_A.liga</string>
		<string>K_A.liga</string>
		<string>K_A_A.liga</string>
		<string>M_A.liga</string>
		<string>M_A_M_A.liga</string>
		<string>N_A.liga</string>
		<string>R_A.liga</string>
		<string>R_A_A.liga</string>
		<string>X_A.liga</string>
		<string>uni0410</string>
		<string>uni041B</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
	</array>
	<key>public.kern1.ALARGE</key>
	<array>
		<string>A.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
	</array>
	<key>public.kern1.Asign</key>
	<array>
		<string>u1F736</string>
		<string>u1F702</string>
		<string>u1F753</string>
		<string>u1F70E</string>
		<string>u1F70D</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>uni1E9E</string>
		<string>germandbls.calt</string>
		<string>A_B.liga</string>
		<string>uni0041_uni1E9E.liga</string>
		<string>H_A_B.liga</string>
		<string>I_A_B.liga</string>
		<string>K_A_B.liga</string>
		<string>M_A_B.liga</string>
		<string>N_A_B.liga</string>
		<string>R_A_B.liga</string>
		<string>uni0052_uni0041_uni1E9E.liga</string>
		<string>Y_B.liga</string>
		<string>uni0412</string>
		<string>u1F76B</string>
		<string>u1F76C</string>
		<string>_part.B</string>
	</array>
	<key>public.kern1.CY</key>
	<array>
		<string>uni0411</string>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni0409</string>
		<string>uni040A</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>A_D.liga</string>
		<string>H_A_D.liga</string>
		<string>I_A_D.liga</string>
		<string>K_A_D.liga</string>
		<string>M_A_D.liga</string>
		<string>N_A_D.liga</string>
		<string>R_A_D.liga</string>
	</array>
	<key>public.kern1.DECY</key>
	<array>
		<string>uni0414</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>H_A_E.liga</string>
		<string>M_A_E.liga</string>
		<string>N_A_E.liga</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>A_F.liga</string>
		<string>H_A_F.liga</string>
		<string>I_A_F.liga</string>
		<string>M_A_F.liga</string>
		<string>N_A_F.liga</string>
		<string>R_A_F.liga</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>uni0421</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
		<string>A_H.liga</string>
		<string>A_I.liga</string>
		<string>A_M.liga</string>
		<string>A_N.liga</string>
		<string>A_Ntilde.liga</string>
		<string>H_A_H.liga</string>
		<string>H_A_I.liga</string>
		<string>H_A_M.liga</string>
		<string>H_A_N.liga</string>
		<string>H_A_Ntilde.liga</string>
		<string>I_A_H.liga</string>
		<string>I_A_I.liga</string>
		<string>I_A_M.liga</string>
		<string>I_A_N.liga</string>
		<string>I_A_Ntilde.liga</string>
		<string>K_A_H.liga</string>
		<string>K_A_N.liga</string>
		<string>K_A_Ntilde.liga</string>
		<string>M_A_H.liga</string>
		<string>M_A_I.liga</string>
		<string>M_A_M.liga</string>
		<string>M_A_N.liga</string>
		<string>M_U_M.liga</string>
		<string>M_U_N.liga</string>
		<string>N_A_H.liga</string>
		<string>N_A_I.liga</string>
		<string>N_A_M.liga</string>
		<string>N_A_N.liga</string>
		<string>N_A_Ntilde.liga</string>
		<string>R_A_H.liga</string>
		<string>R_A_N.liga</string>
		<string>R_A_Ntilde.liga</string>
		<string>R_Aacute_N.liga</string>
		<string>R_I.liga</string>
		<string>U_H.liga</string>
		<string>U_I.liga</string>
		<string>U_N.liga</string>
		<string>V_I.liga</string>
		<string>W_H.liga</string>
		<string>W_I.liga</string>
		<string>Y_I.liga</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0427</string>
		<string>uni0428</string>
		<string>uni040F</string>
		<string>uni042B</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni042F</string>
		<string>uni041B.ss03</string>
		<string>one</string>
		<string>uni2645</string>
		<string>uni26B8</string>
		<string>_part.N2</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>Eng</string>
		<string>IJ.ss01</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
		<string>A_K.liga</string>
		<string>H_A_K.liga</string>
		<string>M_A_K.liga</string>
		<string>N_A_K.liga</string>
		<string>R_K.liga</string>
		<string>uni0416</string>
		<string>uni041A</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Lslash</string>
		<string>L.ss02</string>
		<string>Lacute.ss02</string>
		<string>Lcaron.ss02</string>
		<string>uni013B.ss02</string>
		<string>Lslash.ss02</string>
		<string>A_L.liga</string>
		<string>H_A_L.liga</string>
		<string>K_A_L.liga</string>
		<string>N_A_L.liga</string>
		<string>R_A_L.liga</string>
		<string>R_L.liga</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>R_A_M.liga</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>Q.ss02</string>
		<string>Q.ss03</string>
		<string>eth</string>
		<string>uniA66C</string>
		<string>uniA668</string>
		<string>uni041E</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni0472</string>
		<string>uniA66E</string>
		<string>zero</string>
		<string>nine</string>
		<string>uni2609</string>
		<string>uni263D</string>
		<string>heart</string>
		<string>copyright</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>A_P.liga</string>
		<string>H_A_P.liga</string>
		<string>I_A_P.liga</string>
		<string>K_A_P.liga</string>
		<string>M_A_P.liga</string>
		<string>N_A_P.liga</string>
		<string>R_A_P.liga</string>
		<string>uni0420</string>
		<string>uni04230420.liga</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>R.ss03</string>
		<string>A_R.liga</string>
		<string>H_A_R.liga</string>
		<string>I_A_R.liga</string>
		<string>K_A_R.liga</string>
		<string>M_A_R.liga</string>
		<string>N_A_R.liga</string>
		<string>R_A_R.liga</string>
		<string>R_R.liga</string>
		<string>U_R.liga</string>
		<string>W_R.liga</string>
		<string>u1F707</string>
	</array>
	<key>public.kern1.RLARGE</key>
	<array>
		<string>R.ss02</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>T_T.liga</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0422</string>
	</array>
	<key>public.kern1.THORN</key>
	<array>
		<string>Thorn</string>
		<string>uni0424</string>
	</array>
	<key>public.kern1.TSE</key>
	<array>
		<string>uni0426</string>
		<string>uni0429</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>M_U.liga</string>
		<string>U_U.liga</string>
		<string>uni26CE</string>
	</array>
	<key>public.kern1.UCY</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
	</array>
	<key>public.kern1.UHORN</key>
	<array>
		<string>Uhorn</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
	</array>
	<key>public.kern1.ULARGE</key>
	<array>
		<string>U.ss02</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern1.VSYMBOL</key>
	<array>
		<string>u1F708</string>
		<string>u1F709</string>
		<string>u1F71E</string>
		<string>u1F767</string>
		<string>u1F762</string>
		<string>u1F756</string>
		<string>u1F704</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
		<string>A_X.liga</string>
		<string>H_A_X.liga</string>
		<string>I_A_X.liga</string>
		<string>K_A_X.liga</string>
		<string>M_A_X.liga</string>
		<string>N_A_X.liga</string>
		<string>R_A_X.liga</string>
		<string>Y_X.liga</string>
		<string>uni0425</string>
		<string>uni0425.calt</string>
		<string>uni264A</string>
		<string>u1F76A</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>U_V.liga</string>
		<string>U_W.liga</string>
		<string>U_Y.liga</string>
		<string>V_Y.liga</string>
		<string>W_Y.liga</string>
		<string>X_V.liga</string>
		<string>X_Y.liga</string>
		<string>seven.ss01</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>N_A_Z.liga</string>
	</array>
	<key>public.kern1.ZECY</key>
	<array>
		<string>uni0417</string>
	</array>
	<key>public.kern1.arrobas</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>a_b.liga</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>c.ss01</string>
		<string>cacute.ss01</string>
		<string>ccaron.ss01</string>
		<string>ccedilla.ss01</string>
		<string>cdotaccent.ss01</string>
		<string>uni0441</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
	</array>
	<key>public.kern1.decy</key>
	<array>
		<string>uni0434</string>
		<string>uni043B</string>
		<string>uni0434.ss01</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>oe</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
		<string>f_f.liga</string>
		<string>longs_f.ss01.liga</string>
		<string>longs_f.liga</string>
		<string>t_f.liga</string>
		<string>f_f.ss01</string>
	</array>
	<key>public.kern1.falt</key>
	<array>
		<string>f.ss01</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>G.ss02</string>
		<string>Gbreve.ss02</string>
		<string>uni0122.ss02</string>
		<string>Gdotaccent.ss02</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>uacute</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>V_i.liga</string>
		<string>W_i.liga</string>
		<string>Y_i.liga</string>
		<string>a_i.liga</string>
		<string>a_i.ss01</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044B</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni044F</string>
		<string>uni043B.ss03</string>
		<string>uni04300438.liga</string>
		<string>uni0430044F.liga</string>
		<string>uni0438044F.liga</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>g</string>
		<string>ij</string>
		<string>j</string>
		<string>j.ss02</string>
		<string>uni0458</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
		<string>uni0436</string>
		<string>uni043A</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>a_l.liga</string>
		<string>a_l.ss01</string>
	</array>
	<key>public.kern1.longs</key>
	<array>
		<string>longs</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>uni1EAF.ss01</string>
		<string>uni1EB7.ss01</string>
		<string>uni1EB1.ss01</string>
		<string>uni1EB3.ss01</string>
		<string>uni1EB5.ss01</string>
		<string>acircumflex.ss01</string>
		<string>uni1EA5.ss01</string>
		<string>uni1EAD.ss01</string>
		<string>uni1EA7.ss01</string>
		<string>uni1EA9.ss01</string>
		<string>uni1EAB.ss01</string>
		<string>adieresis.ss01</string>
		<string>uni1EA1.ss01</string>
		<string>agrave.ss01</string>
		<string>uni1EA3.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>a_n.liga</string>
		<string>g_n.liga</string>
		<string>a_n.ss01</string>
		<string>uni040B</string>
		<string>uni0430</string>
		<string>uni045D</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>ecaron</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>germandbls</string>
		<string>uni0402</string>
		<string>uni0431</string>
		<string>uni043E</string>
		<string>uni0444</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uniA66D</string>
		<string>uniA669</string>
		<string>uni0431.loclSRB</string>
		<string>uni263F</string>
		<string>female</string>
		<string>uni2649</string>
		<string>uni26A2</string>
		<string>uni26B2</string>
		<string>uni26E2</string>
		<string>u1F73D</string>
		<string>u1F70F</string>
		<string>u1F74E</string>
		<string>u1F725</string>
		<string>u1F770</string>
		<string>u1F711</string>
		<string>u1F715</string>
		<string>u1F74B</string>
		<string>u1F731</string>
		<string>u1F718</string>
		<string>u1F714</string>
		<string>u1F72D</string>
		<string>u1F726</string>
		<string>u1F72C</string>
		<string>u1F722</string>
		<string>u1F72E</string>
		<string>u1F727</string>
		<string>u1F728</string>
		<string>u1F72F</string>
		<string>u1F716</string>
		<string>u1F717</string>
	</array>
	<key>public.kern1.ohorn</key>
	<array>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
	</array>
	<key>public.kern1.p</key>
	<array>
		<string>p</string>
		<string>thorn</string>
		<string>uni0440</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>g_r.liga</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0442</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
		<string>t</string>
		<string>s.ss01</string>
		<string>sacute.ss01</string>
		<string>scaron.ss01</string>
		<string>scedilla.ss01</string>
		<string>uni0219.ss01</string>
		<string>f_t.liga</string>
		<string>longs_t.liga</string>
		<string>longs_t.ss01.liga</string>
		<string>t_t.liga</string>
		<string>t_t.ss01</string>
	</array>
	<key>public.kern1.talt</key>
	<array>
		<string>t.ss01</string>
		<string>tbar.ss01</string>
		<string>tcaron.ss01</string>
		<string>uni0163.ss01</string>
		<string>uni021B.ss01</string>
	</array>
	<key>public.kern1.tiret</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>g_u.liga</string>
		<string>q_u.liga</string>
	</array>
	<key>public.kern1.uhorn</key>
	<array>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
	</array>
	<key>public.kern1.upturn</key>
	<array>
		<string>uni0491</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>public.kern1.ve</key>
	<array>
		<string>uni0432</string>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni0459</string>
		<string>uni045A</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
		<string>a_x.liga</string>
		<string>uni0445</string>
		<string>uni04300445.liga</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>uni0443</string>
		<string>uni045E</string>
	</array>
	<key>public.kern1.zecy</key>
	<array>
		<string>uni0437</string>
	</array>
	<key>public.kern2.8</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A_A.liga</string>
		<string>A_A_A.liga</string>
		<string>A_B.liga</string>
		<string>A_D.liga</string>
		<string>A_E.liga</string>
		<string>A_F.liga</string>
		<string>A_H.liga</string>
		<string>A_H_A.liga</string>
		<string>A_I.liga</string>
		<string>A_K.liga</string>
		<string>A_K_A.liga</string>
		<string>A_L.liga</string>
		<string>A_M.liga</string>
		<string>A_M_A.liga</string>
		<string>A_N.liga</string>
		<string>A_N_A.liga</string>
		<string>A_Ntilde.liga</string>
		<string>A_Ntilde_A.liga</string>
		<string>A_P.liga</string>
		<string>A_R.liga</string>
		<string>A_R_A.liga</string>
		<string>A_R_R_A.liga</string>
		<string>uni0041_uni1E9E.liga</string>
		<string>A_X.liga</string>
		<string>A_X_A.liga</string>
		<string>A_Z.liga</string>
		<string>Aacute_N.liga</string>
		<string>uni0410</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>u1F707</string>
		<string>_part.A</string>
	</array>
	<key>public.kern2.ALARGE</key>
	<array>
		<string>AE</string>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
	</array>
	<key>public.kern2.Asign</key>
	<array>
		<string>u1F736</string>
		<string>u1F702</string>
		<string>u1F753</string>
		<string>u1F70E</string>
		<string>u1F70D</string>
	</array>
	<key>public.kern2.CHECY</key>
	<array>
		<string>uni0427</string>
	</array>
	<key>public.kern2.DECY</key>
	<array>
		<string>uni0414</string>
	</array>
	<key>public.kern2.EF</key>
	<array>
		<string>uni0424</string>
	</array>
	<key>public.kern2.ELCY</key>
	<array>
		<string>uni041B</string>
		<string>uni0409</string>
		<string>uni041B.ss03</string>
		<string>u1F760</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>uni1E9E</string>
		<string>L.ss02</string>
		<string>Lacute.ss02</string>
		<string>Lcaron.ss02</string>
		<string>uni013B.ss02</string>
		<string>R.ss02</string>
		<string>R.ss03</string>
		<string>germandbls.calt</string>
		<string>H_A.liga</string>
		<string>H_A_B.liga</string>
		<string>H_A_D.liga</string>
		<string>H_A_E.liga</string>
		<string>H_A_F.liga</string>
		<string>H_A_H.liga</string>
		<string>H_A_I.liga</string>
		<string>H_A_K.liga</string>
		<string>H_A_L.liga</string>
		<string>H_A_M.liga</string>
		<string>H_A_N.liga</string>
		<string>H_A_Ntilde.liga</string>
		<string>H_A_P.liga</string>
		<string>H_A_R.liga</string>
		<string>H_A_X.liga</string>
		<string>H_A_Z.liga</string>
		<string>I_A.liga</string>
		<string>I_A_A.liga</string>
		<string>I_A_B.liga</string>
		<string>I_A_D.liga</string>
		<string>I_A_E.liga</string>
		<string>I_A_F.liga</string>
		<string>I_A_H.liga</string>
		<string>I_A_I.liga</string>
		<string>I_A_L.liga</string>
		<string>I_A_M.liga</string>
		<string>I_A_N.liga</string>
		<string>I_A_Ntilde.liga</string>
		<string>I_A_P.liga</string>
		<string>I_A_R.liga</string>
		<string>I_A_X.liga</string>
		<string>I_A_Z.liga</string>
		<string>K_A.liga</string>
		<string>K_A_A.liga</string>
		<string>K_A_B.liga</string>
		<string>K_A_D.liga</string>
		<string>K_A_E.liga</string>
		<string>K_A_F.liga</string>
		<string>K_A_H.liga</string>
		<string>K_A_K.liga</string>
		<string>K_A_L.liga</string>
		<string>K_A_M.liga</string>
		<string>K_A_N.liga</string>
		<string>K_A_Ntilde.liga</string>
		<string>K_A_P.liga</string>
		<string>K_A_R.liga</string>
		<string>K_A_X.liga</string>
		<string>K_A_Z.liga</string>
		<string>M_A.liga</string>
		<string>M_A_B.liga</string>
		<string>M_A_D.liga</string>
		<string>M_A_E.liga</string>
		<string>M_A_H.liga</string>
		<string>M_A_I.liga</string>
		<string>M_A_K.liga</string>
		<string>M_A_L.liga</string>
		<string>M_A_M.liga</string>
		<string>M_A_M_A.liga</string>
		<string>M_A_N.liga</string>
		<string>M_A_P.liga</string>
		<string>M_A_R.liga</string>
		<string>M_A_Z.liga</string>
		<string>M_U.liga</string>
		<string>M_U_M.liga</string>
		<string>M_U_N.liga</string>
		<string>N_A.liga</string>
		<string>N_A_B.liga</string>
		<string>N_A_D.liga</string>
		<string>N_A_E.liga</string>
		<string>N_A_F.liga</string>
		<string>N_A_H.liga</string>
		<string>N_A_I.liga</string>
		<string>N_A_K.liga</string>
		<string>N_A_L.liga</string>
		<string>N_A_M.liga</string>
		<string>N_A_N.liga</string>
		<string>N_A_Ntilde.liga</string>
		<string>N_A_P.liga</string>
		<string>N_A_R.liga</string>
		<string>N_A_X.liga</string>
		<string>N_A_Z.liga</string>
		<string>R_A.liga</string>
		<string>R_A_A.liga</string>
		<string>R_A_B.liga</string>
		<string>R_A_D.liga</string>
		<string>R_A_E.liga</string>
		<string>R_A_F.liga</string>
		<string>R_A_H.liga</string>
		<string>R_A_L.liga</string>
		<string>R_A_M.liga</string>
		<string>R_A_N.liga</string>
		<string>R_A_Ntilde.liga</string>
		<string>R_A_P.liga</string>
		<string>R_A_R.liga</string>
		<string>uni0052_uni0041_uni1E9E.liga</string>
		<string>R_A_X.liga</string>
		<string>R_A_Z.liga</string>
		<string>R_Aacute_N.liga</string>
		<string>R_E.liga</string>
		<string>R_I.liga</string>
		<string>R_K.liga</string>
		<string>R_L.liga</string>
		<string>R_R.liga</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041A</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042B</string>
		<string>uni040A</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni042E</string>
		<string>uni263D</string>
		<string>uni2645</string>
		<string>uni264D</string>
		<string>uni264F</string>
		<string>u1F76B</string>
	</array>
	<key>public.kern2.HARD</key>
	<array>
		<string>uni042A</string>
	</array>
	<key>public.kern2.IA</key>
	<array>
		<string>uni042F</string>
	</array>
	<key>public.kern2.IJ</key>
	<array>
		<string>IJ</string>
		<string>IJ.ss01</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M_A_F.liga</string>
		<string>M_A_X.liga</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>G.ss02</string>
		<string>Gbreve.ss02</string>
		<string>uni0122.ss02</string>
		<string>Gdotaccent.ss02</string>
		<string>Q.ss02</string>
		<string>Q.ss03</string>
		<string>uniA66C</string>
		<string>uniA668</string>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0404</string>
		<string>uni0472</string>
		<string>uniA66E</string>
		<string>zero</string>
		<string>six</string>
		<string>nine</string>
		<string>uni2609</string>
		<string>uni26B8</string>
		<string>at</string>
		<string>copyright</string>
		<string>u1F76D</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>T_T.liga</string>
		<string>uni0422</string>
		<string>uni040B</string>
		<string>uni0402</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>U_E.liga</string>
		<string>U_Eacute.liga</string>
		<string>U_H.liga</string>
		<string>U_I.liga</string>
		<string>U_N.liga</string>
		<string>U_R.liga</string>
		<string>U_U.liga</string>
		<string>U_V.liga</string>
		<string>U_W.liga</string>
		<string>U_Y.liga</string>
		<string>uni26CE</string>
	</array>
	<key>public.kern2.UCY</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni04230415.liga</string>
		<string>uni04230420.liga</string>
	</array>
	<key>public.kern2.ULARGE</key>
	<array>
		<string>U.ss02</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>u1F705</string>
	</array>
	<key>public.kern2.VSYMBOL</key>
	<array>
		<string>u1F706</string>
		<string>u1F708</string>
		<string>u1F709</string>
		<string>u1F71E</string>
		<string>u1F767</string>
		<string>u1F762</string>
		<string>u1F773</string>
		<string>u1F756</string>
		<string>u1F704</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W_H.liga</string>
		<string>W_R.liga</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
		<string>X_A.liga</string>
		<string>X_V.liga</string>
		<string>X_Y.liga</string>
		<string>uni0425</string>
		<string>uni0425.calt</string>
		<string>uni264A</string>
		<string>u1F76A</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>V_E.liga</string>
		<string>V_I.liga</string>
		<string>V_Y.liga</string>
		<string>V_i.liga</string>
		<string>W_E.liga</string>
		<string>W_I.liga</string>
		<string>W_Y.liga</string>
		<string>W_i.liga</string>
		<string>Y_B.liga</string>
		<string>Y_E.liga</string>
		<string>Y_I.liga</string>
		<string>Y_X.liga</string>
		<string>Y_i.liga</string>
		<string>uni0474</string>
		<string>u1F76C</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern2.ZECY</key>
	<array>
		<string>uni0417</string>
	</array>
	<key>public.kern2.ZHE</key>
	<array>
		<string>uni0416</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>uni1EAF.ss01</string>
		<string>uni1EB7.ss01</string>
		<string>uni1EB1.ss01</string>
		<string>uni1EB3.ss01</string>
		<string>uni1EB5.ss01</string>
		<string>acircumflex.ss01</string>
		<string>uni1EA5.ss01</string>
		<string>uni1EAD.ss01</string>
		<string>uni1EA7.ss01</string>
		<string>uni1EA9.ss01</string>
		<string>uni1EAB.ss01</string>
		<string>adieresis.ss01</string>
		<string>uni1EA1.ss01</string>
		<string>agrave.ss01</string>
		<string>uni1EA3.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>a_b.liga</string>
		<string>a_i.liga</string>
		<string>a_l.liga</string>
		<string>a_n.liga</string>
		<string>a_x.liga</string>
		<string>a_i.ss01</string>
		<string>a_l.ss01</string>
		<string>a_n.ss01</string>
		<string>uni0430</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04300438.liga</string>
		<string>uni04300445.liga</string>
		<string>uni0430044F.liga</string>
	</array>
	<key>public.kern2.becy</key>
	<array>
		<string>uni0431</string>
		<string>uni0431.loclSRB</string>
	</array>
	<key>public.kern2.checy</key>
	<array>
		<string>uni0447</string>
	</array>
	<key>public.kern2.decy</key>
	<array>
		<string>uni0434</string>
		<string>uni0434.ss01</string>
	</array>
	<key>public.kern2.dot</key>
	<array>
		<string>period</string>
	</array>
	<key>public.kern2.elcy</key>
	<array>
		<string>uni043B</string>
		<string>uni0459</string>
		<string>uni043B.ss03</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>f.ss01</string>
		<string>f_f.liga</string>
		<string>f_t.liga</string>
		<string>longs_t.liga</string>
		<string>longs_t.ss01.liga</string>
		<string>longs_f.ss01.liga</string>
		<string>longs_f.liga</string>
		<string>longs_longs.liga</string>
		<string>f_f.ss01</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g_u.liga</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>l.ss02</string>
	</array>
	<key>public.kern2.hardcy</key>
	<array>
		<string>uni044A</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>uni045D</string>
	</array>
	<key>public.kern2.ia</key>
	<array>
		<string>uni044F</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>uni0458</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>r</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043A</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044B</string>
		<string>uni045A</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni044E</string>
		<string>uni0438044F.liga</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>g</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>c.ss01</string>
		<string>cacute.ss01</string>
		<string>ccaron.ss01</string>
		<string>ccedilla.ss01</string>
		<string>cdotaccent.ss01</string>
		<string>g_n.liga</string>
		<string>g_r.liga</string>
		<string>q_u.liga</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0444</string>
		<string>uni0454</string>
		<string>uniA66D</string>
		<string>uniA669</string>
		<string>uni263F</string>
		<string>female</string>
		<string>male</string>
		<string>uni2649</string>
		<string>uni26A2</string>
		<string>uni26A3</string>
		<string>uni26A4</string>
		<string>uni26A5</string>
		<string>uni26B2</string>
		<string>uni26E2</string>
		<string>u1F72B</string>
		<string>u1F73D</string>
		<string>u1F70F</string>
		<string>u1F74C</string>
		<string>u1F74E</string>
		<string>u1F725</string>
		<string>u1F720</string>
		<string>u1F724</string>
		<string>u1F770</string>
		<string>u1F71A</string>
		<string>u1F721</string>
		<string>u1F71C</string>
		<string>u1F738</string>
		<string>u1F711</string>
		<string>u1F715</string>
		<string>u1F74B</string>
		<string>u1F731</string>
		<string>u1F718</string>
		<string>u1F714</string>
		<string>u1F72D</string>
		<string>u1F726</string>
		<string>u1F72C</string>
		<string>u1F722</string>
		<string>u1F72E</string>
		<string>u1F727</string>
		<string>u1F728</string>
		<string>u1F72F</string>
		<string>u1F716</string>
		<string>u1F717</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
		<string>thorn</string>
		<string>uni0440</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
		<string>s.ss01</string>
		<string>sacute.ss01</string>
		<string>scaron.ss01</string>
		<string>scedilla.ss01</string>
		<string>uni0219.ss01</string>
		<string>u1F75C</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>t_f.liga</string>
		<string>t_t.liga</string>
		<string>t_t.ss01</string>
	</array>
	<key>public.kern2.talt</key>
	<array>
		<string>t.ss01</string>
		<string>tbar.ss01</string>
		<string>tcaron.ss01</string>
		<string>uni0163.ss01</string>
		<string>uni021B.ss01</string>
	</array>
	<key>public.kern2.tiret</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
		<string>logicalnot</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
		<string>uni0445</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>uni0443</string>
		<string>uni045E</string>
	</array>
	<key>public.kern2.zecy</key>
	<array>
		<string>uni0437</string>
	</array>
	<key>public.kern2.zhe</key>
	<array>
		<string>uni0436</string>
	</array>
</dict>
</plist>
