<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>public.kern2.p</key>
		<integer>-50</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>public.kern2.tiret</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-90</integer>
		<key>public.kern2.S</key>
		<integer>-80</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.tiret</key>
		<integer>-40</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-108</integer>
	</dict>
	<key>G.ss02</key>
	<dict>
		<key>U</key>
		<integer>-80</integer>
		<key>public.kern2.Y</key>
		<integer>-120</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-80</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>eight</key>
		<integer>-60</integer>
		<key>public.kern2.ALARGE</key>
		<integer>-150</integer>
		<key>public.kern2.J</key>
		<integer>-60</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.X</key>
		<integer>-80</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
		<key>public.kern2.h</key>
		<integer>-50</integer>
		<key>public.kern2.n</key>
		<integer>10</integer>
		<key>public.kern2.tiret</key>
		<integer>-20</integer>
		<key>u1F736</key>
		<integer>-80</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>public.kern2.V</key>
		<integer>-168</integer>
		<key>public.kern2.Y</key>
		<integer>-168</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.p</key>
		<integer>-50</integer>
		<key>public.kern2.u</key>
		<integer>-80</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-80</integer>
		<key>public.kern2.O</key>
		<integer>5</integer>
		<key>public.kern2.T</key>
		<integer>-5</integer>
		<key>public.kern2.tiret</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.S</key>
		<integer>-50</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-38</integer>
	</dict>
	<key>U.ss02</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-60</integer>
	</dict>
	<key>W_E.liga</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-20</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>G</key>
		<integer>-120</integer>
		<key>U</key>
		<integer>-38</integer>
	</dict>
	<key>Y_i.liga</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-10</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.tiret</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-80</integer>
	</dict>
	<key>_part.AA1</key>
	<dict>
		<key>_part.B</key>
		<integer>-50</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-38</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
	</dict>
	<key>braceright</key>
	<dict>
		<key>bracketright</key>
		<integer>-100</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>braceleft</key>
		<integer>-100</integer>
		<key>one</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>t</key>
		<integer>10</integer>
	</dict>
	<key>dollar</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-60</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-80</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>five</key>
		<integer>40</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>one</key>
		<integer>-80</integer>
	</dict>
	<key>infinity</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-160</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
	</dict>
	<key>j.ss02</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>ldot</key>
	<dict>
		<key>public.kern2.h</key>
		<integer>-70</integer>
	</dict>
	<key>multiply</key>
	<dict>
		<key>one</key>
		<integer>-20</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.8</key>
	<dict>
		<key>public.kern2.8</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>backslash</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>-120</integer>
		<key>infinity</key>
		<integer>-180</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>public.kern2.CHECY</key>
		<integer>-180</integer>
		<key>public.kern2.EF</key>
		<integer>-120</integer>
		<key>public.kern2.ELCY</key>
		<integer>-30</integer>
		<key>public.kern2.HARD</key>
		<integer>-55</integer>
		<key>public.kern2.J</key>
		<integer>-70</integer>
		<key>public.kern2.O</key>
		<integer>-120</integer>
		<key>public.kern2.S</key>
		<integer>-100</integer>
		<key>public.kern2.T</key>
		<integer>-108</integer>
		<key>public.kern2.U</key>
		<integer>-160</integer>
		<key>public.kern2.UCY</key>
		<integer>-100</integer>
		<key>public.kern2.ULARGE</key>
		<integer>-150</integer>
		<key>public.kern2.V</key>
		<integer>-200</integer>
		<key>public.kern2.VSYMBOL</key>
		<integer>-180</integer>
		<key>public.kern2.Y</key>
		<integer>-180</integer>
		<key>public.kern2.ZECY</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.becy</key>
		<integer>-110</integer>
		<key>public.kern2.elcy</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-90</integer>
		<key>public.kern2.p</key>
		<integer>-80</integer>
		<key>public.kern2.s</key>
		<integer>-60</integer>
		<key>public.kern2.tiret</key>
		<integer>-140</integer>
		<key>public.kern2.u</key>
		<integer>-140</integer>
		<key>public.kern2.v</key>
		<integer>-160</integer>
		<key>public.kern2.y</key>
		<integer>-140</integer>
		<key>q</key>
		<integer>-60</integer>
		<key>quotesingle</key>
		<integer>-140</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>seven</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>u1F763</key>
		<integer>-100</integer>
		<key>u1F766</key>
		<integer>-120</integer>
		<key>u1F768</key>
		<integer>-180</integer>
		<key>uni043B</key>
		<integer>-40</integer>
		<key>uni0442</key>
		<integer>-90</integer>
		<key>uni264C</key>
		<integer>-180</integer>
	</dict>
	<key>public.kern1.ALARGE</key>
	<dict>
		<key>U</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-108</integer>
		<key>public.kern2.Y</key>
		<integer>-40</integer>
		<key>public.kern2.Z</key>
		<integer>-60</integer>
		<key>public.kern2.s</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.Asign</key>
	<dict>
		<key>public.kern2.VSYMBOL</key>
		<integer>-250</integer>
		<key>public.kern2.Y</key>
		<integer>-175</integer>
		<key>u1F768</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-105</integer>
		<key>public.kern2.H</key>
		<integer>-75</integer>
		<key>public.kern2.U</key>
		<integer>-80</integer>
		<key>public.kern2.X</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-180</integer>
		<key>public.kern2.h</key>
		<integer>-50</integer>
		<key>public.kern2.n</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>10</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.v</key>
		<integer>-60</integer>
		<key>public.kern2.x</key>
		<integer>-60</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>uni041B</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.CY</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-110</integer>
		<key>public.kern2.DECY</key>
		<integer>-90</integer>
		<key>public.kern2.H</key>
		<integer>-80</integer>
		<key>public.kern2.HARD</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.D</key>
	<dict>
		<key>bracketright</key>
		<integer>-90</integer>
		<key>public.kern2.A</key>
		<integer>-110</integer>
		<key>public.kern2.H</key>
		<integer>-75</integer>
		<key>public.kern2.O</key>
		<integer>10</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.X</key>
		<integer>-140</integer>
		<key>public.kern2.Y</key>
		<integer>-110</integer>
		<key>public.kern2.h</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.DECY</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-90</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.p</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-10</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.G</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-120</integer>
		<key>public.kern2.ALARGE</key>
		<integer>-60</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-40</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.tiret</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>dollar</key>
		<integer>-40</integer>
		<key>eight</key>
		<integer>-60</integer>
		<key>four</key>
		<integer>-100</integer>
		<key>heart</key>
		<integer>-60</integer>
		<key>public.kern2.EF</key>
		<integer>-140</integer>
		<key>public.kern2.J</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-75</integer>
		<key>public.kern2.S</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-38</integer>
		<key>public.kern2.ZECY</key>
		<integer>-80</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.becy</key>
		<integer>-90</integer>
		<key>public.kern2.elcy</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.p</key>
		<integer>-60</integer>
		<key>public.kern2.tiret</key>
		<integer>-85</integer>
		<key>public.kern2.u</key>
		<integer>-150</integer>
		<key>public.kern2.y</key>
		<integer>-120</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>sun</key>
		<integer>-60</integer>
		<key>t</key>
		<integer>-60</integer>
		<key>u1F74F</key>
		<integer>-45</integer>
		<key>uni041B</key>
		<integer>-40</integer>
		<key>uni2651</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.J</key>
		<integer>-120</integer>
		<key>public.kern2.O</key>
		<integer>-70</integer>
		<key>public.kern2.S</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-120</integer>
		<key>public.kern2.n</key>
		<integer>-80</integer>
		<key>public.kern2.o</key>
		<integer>-90</integer>
		<key>public.kern2.p</key>
		<integer>-60</integer>
		<key>public.kern2.s</key>
		<integer>-110</integer>
		<key>public.kern2.tiret</key>
		<integer>-70</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>ampersand</key>
		<integer>-80</integer>
		<key>public.kern2.ELCY</key>
		<integer>-40</integer>
		<key>public.kern2.J</key>
		<integer>-70</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.ZECY</key>
		<integer>-35</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.p</key>
		<integer>-80</integer>
		<key>public.kern2.tiret</key>
		<integer>-160</integer>
		<key>public.kern2.u</key>
		<integer>-140</integer>
		<key>public.kern2.v</key>
		<integer>-120</integer>
		<key>u1F719</key>
		<integer>-200</integer>
		<key>uni043B</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-10</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-40</integer>
		<key>public.kern2.U</key>
		<integer>-100</integer>
		<key>public.kern2.ULARGE</key>
		<integer>-70</integer>
		<key>public.kern2.Y</key>
		<integer>-130</integer>
		<key>public.kern2.t</key>
		<integer>-20</integer>
		<key>public.kern2.tiret</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>I</key>
		<integer>-80</integer>
		<key>ampersand</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-120</integer>
		<key>public.kern2.DECY</key>
		<integer>-120</integer>
		<key>public.kern2.H</key>
		<integer>-75</integer>
		<key>public.kern2.IA</key>
		<integer>-75</integer>
		<key>public.kern2.J</key>
		<integer>-10</integer>
		<key>public.kern2.O</key>
		<integer>15</integer>
		<key>public.kern2.S</key>
		<integer>15</integer>
		<key>public.kern2.T</key>
		<integer>-20</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.ULARGE</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-138</integer>
		<key>public.kern2.VSYMBOL</key>
		<integer>-120</integer>
		<key>public.kern2.X</key>
		<integer>-120</integer>
		<key>public.kern2.Y</key>
		<integer>-140</integer>
		<key>public.kern2.Z</key>
		<integer>-15</integer>
		<key>public.kern2.ZHE</key>
		<integer>-100</integer>
		<key>public.kern2.becy</key>
		<integer>10</integer>
		<key>public.kern2.decy</key>
		<integer>-80</integer>
		<key>public.kern2.f</key>
		<integer>-30</integer>
		<key>public.kern2.h</key>
		<integer>-60</integer>
		<key>public.kern2.p</key>
		<integer>-10</integer>
		<key>public.kern2.tiret</key>
		<integer>0</integer>
		<key>public.kern2.x</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-10</integer>
		<key>u1F769</key>
		<integer>-40</integer>
		<key>uni041B</key>
		<integer>-50</integer>
		<key>uni0423</key>
		<integer>-40</integer>
		<key>uni0442</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-185</integer>
		<key>public.kern2.H</key>
		<integer>-60</integer>
		<key>public.kern2.U</key>
		<integer>-50</integer>
		<key>public.kern2.UCY</key>
		<integer>-60</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
		<key>public.kern2.a</key>
		<integer>-80</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>u1F747</key>
		<integer>-120</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>ampersand</key>
		<integer>-80</integer>
		<key>public.kern2.IJ</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-70</integer>
		<key>public.kern2.O</key>
		<integer>-75</integer>
		<key>public.kern2.S</key>
		<integer>-75</integer>
		<key>public.kern2.T</key>
		<integer>-80</integer>
		<key>public.kern2.U</key>
		<integer>-120</integer>
		<key>public.kern2.ZECY</key>
		<integer>-55</integer>
		<key>public.kern2.a</key>
		<integer>-50</integer>
		<key>public.kern2.tiret</key>
		<integer>-120</integer>
		<key>public.kern2.y</key>
		<integer>-80</integer>
		<key>quotesingle</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>A.ss02</key>
		<integer>-60</integer>
		<key>public.kern2.A</key>
		<integer>-108</integer>
		<key>public.kern2.DECY</key>
		<integer>-100</integer>
		<key>public.kern2.ELCY</key>
		<integer>-65</integer>
		<key>public.kern2.J</key>
		<integer>-90</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.becy</key>
		<integer>-40</integer>
		<key>public.kern2.n</key>
		<integer>-15</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.s</key>
		<integer>-80</integer>
		<key>public.kern2.tiret</key>
		<integer>-180</integer>
		<key>public.kern2.y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.THORN</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-120</integer>
		<key>public.kern2.H</key>
		<integer>-140</integer>
		<key>public.kern2.X</key>
		<integer>-160</integer>
		<key>public.kern2.dot</key>
		<integer>-40</integer>
		<key>public.kern2.elcy</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.TSE</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>ampersand</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-160</integer>
		<key>public.kern2.J</key>
		<integer>-110</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.S</key>
		<integer>-80</integer>
		<key>public.kern2.a</key>
		<integer>-120</integer>
		<key>public.kern2.n</key>
		<integer>-55</integer>
		<key>public.kern2.p</key>
		<integer>-100</integer>
		<key>public.kern2.tiret</key>
		<integer>-100</integer>
		<key>public.kern2.x</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.UCY</key>
	<dict>
		<key>public.kern2.EF</key>
		<integer>-120</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.a</key>
		<integer>-220</integer>
		<key>public.kern2.n</key>
		<integer>-100</integer>
		<key>public.kern2.o</key>
		<integer>-180</integer>
		<key>public.kern2.p</key>
		<integer>-140</integer>
		<key>public.kern2.x</key>
		<integer>-140</integer>
		<key>z</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.UHORN</key>
	<dict>
		<key>public.kern2.U</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.ULARGE</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-150</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>U</key>
		<integer>-38</integer>
		<key>public.kern2.A</key>
		<integer>-200</integer>
		<key>public.kern2.H</key>
		<integer>-38</integer>
		<key>public.kern2.O</key>
		<integer>-138</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
		<key>public.kern2.X</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.VSYMBOL</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.Asign</key>
		<integer>-180</integer>
		<key>public.kern2.O</key>
		<integer>-120</integer>
		<key>public.kern2.S</key>
		<integer>-160</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.X</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-70</integer>
		<key>public.kern2.O</key>
		<integer>-120</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.tiret</key>
		<integer>-150</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>four</key>
		<integer>-200</integer>
		<key>one</key>
		<integer>-240</integer>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.Asign</key>
		<integer>-175</integer>
		<key>public.kern2.ELCY</key>
		<integer>-205</integer>
		<key>public.kern2.H</key>
		<integer>0</integer>
		<key>public.kern2.J</key>
		<integer>-250</integer>
		<key>public.kern2.O</key>
		<integer>-120</integer>
		<key>public.kern2.S</key>
		<integer>-200</integer>
		<key>public.kern2.V</key>
		<integer>-38</integer>
		<key>public.kern2.a</key>
		<integer>-200</integer>
		<key>public.kern2.f</key>
		<integer>-160</integer>
		<key>public.kern2.n</key>
		<integer>-180</integer>
		<key>public.kern2.o</key>
		<integer>-190</integer>
		<key>public.kern2.s</key>
		<integer>-240</integer>
		<key>public.kern2.tiret</key>
		<integer>-185</integer>
		<key>public.kern2.u</key>
		<integer>-180</integer>
		<key>public.kern2.v</key>
		<integer>-200</integer>
		<key>public.kern2.y</key>
		<integer>-180</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>two</key>
		<integer>-80</integer>
		<key>uni2697</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.ZECY</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-45</integer>
		<key>public.kern2.IA</key>
		<integer>-50</integer>
		<key>public.kern2.X</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-60</integer>
		<key>public.kern2.h</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.d</key>
	<dict>
		<key>four</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.p</key>
		<integer>-40</integer>
		<key>public.kern2.u</key>
		<integer>-90</integer>
		<key>public.kern2.v</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.decy</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.hardcy</key>
		<integer>-80</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.p</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.H</key>
		<integer>-60</integer>
		<key>public.kern2.U</key>
		<integer>-80</integer>
		<key>public.kern2.decy</key>
		<integer>-20</integer>
		<key>public.kern2.h</key>
		<integer>-25</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.p</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>public.kern2.x</key>
		<integer>-30</integer>
		<key>public.kern2.zhe</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>period</key>
		<integer>-60</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.falt</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.s</key>
		<integer>-65</integer>
	</dict>
	<key>public.kern1.i</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-25</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.Y</key>
		<integer>-170</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.elcy</key>
		<integer>-10</integer>
		<key>public.kern2.j</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.p</key>
		<integer>-20</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>public.kern2.t</key>
		<integer>-10</integer>
		<key>public.kern2.tiret</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-10</integer>
		<key>public.kern2.zecy</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.j</key>
	<dict>
		<key>period</key>
		<integer>-80</integer>
		<key>public.kern2.H</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-60</integer>
		<key>public.kern2.X</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.h</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.s</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-200</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.elcy</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.t</key>
		<integer>-10</integer>
		<key>public.kern2.zecy</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.l</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.j</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.u</key>
		<integer>-80</integer>
		<key>public.kern2.v</key>
		<integer>-50</integer>
		<key>public.kern2.y</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.longs</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.n</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.n</key>
	<dict>
		<key>five</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>j.ss02</key>
		<integer>-60</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.U</key>
		<integer>-120</integer>
		<key>public.kern2.Y</key>
		<integer>-180</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.becy</key>
		<integer>-35</integer>
		<key>public.kern2.checy</key>
		<integer>-90</integer>
		<key>public.kern2.h</key>
		<integer>0</integer>
		<key>public.kern2.n</key>
		<integer>0</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.p</key>
		<integer>-60</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
		<key>public.kern2.t</key>
		<integer>-30</integer>
		<key>public.kern2.talt</key>
		<integer>-80</integer>
		<key>public.kern2.tiret</key>
		<integer>-15</integer>
		<key>public.kern2.u</key>
		<integer>-80</integer>
		<key>public.kern2.v</key>
		<integer>-100</integer>
		<key>public.kern2.y</key>
		<integer>-90</integer>
		<key>public.kern2.zecy</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-140</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>u1F72A</key>
		<integer>-50</integer>
		<key>uni0442</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>hyphen</key>
		<integer>10</integer>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.H</key>
		<integer>-80</integer>
		<key>public.kern2.T</key>
		<integer>-40</integer>
		<key>public.kern2.U</key>
		<integer>-80</integer>
		<key>public.kern2.VSYMBOL</key>
		<integer>-80</integer>
		<key>public.kern2.X</key>
		<integer>-80</integer>
		<key>public.kern2.Y</key>
		<integer>-210</integer>
		<key>public.kern2.becy</key>
		<integer>15</integer>
		<key>public.kern2.checy</key>
		<integer>-30</integer>
		<key>public.kern2.elcy</key>
		<integer>-10</integer>
		<key>public.kern2.h</key>
		<integer>-40</integer>
		<key>public.kern2.ia</key>
		<integer>-60</integer>
		<key>public.kern2.j</key>
		<integer>-40</integer>
		<key>public.kern2.n</key>
		<integer>-45</integer>
		<key>public.kern2.p</key>
		<integer>-45</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.v</key>
		<integer>-70</integer>
		<key>public.kern2.x</key>
		<integer>-60</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>public.kern2.zhe</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-100</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>two</key>
		<integer>-40</integer>
		<key>uni2646.ss02</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.ohorn</key>
	<dict>
		<key>public.kern2.h</key>
		<integer>-50</integer>
		<key>public.kern2.n</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.p</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.H</key>
		<integer>-80</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.X</key>
		<integer>-80</integer>
		<key>public.kern2.Y</key>
		<integer>-200</integer>
		<key>public.kern2.decy</key>
		<integer>-40</integer>
		<key>public.kern2.h</key>
		<integer>-40</integer>
		<key>public.kern2.n</key>
		<integer>-40</integer>
		<key>public.kern2.p</key>
		<integer>-50</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.v</key>
		<integer>-70</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>public.kern2.zhe</key>
		<integer>-50</integer>
		<key>question</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-140</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.decy</key>
		<integer>-90</integer>
		<key>public.kern2.elcy</key>
		<integer>-60</integer>
		<key>public.kern2.h</key>
		<integer>-50</integer>
		<key>public.kern2.ia</key>
		<integer>-40</integer>
		<key>public.kern2.s</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>four</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.H</key>
		<integer>-60</integer>
		<key>public.kern2.U</key>
		<integer>-80</integer>
		<key>public.kern2.X</key>
		<integer>-60</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.h</key>
		<integer>-30</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>public.kern2.t</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.tiret</key>
	<dict>
		<key>four</key>
		<integer>-60</integer>
		<key>public.kern2.A</key>
		<integer>-140</integer>
		<key>public.kern2.H</key>
		<integer>-85</integer>
		<key>public.kern2.T</key>
		<integer>-180</integer>
		<key>public.kern2.U</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-185</integer>
		<key>public.kern2.Z</key>
		<integer>-180</integer>
		<key>public.kern2.h</key>
		<integer>-55</integer>
		<key>public.kern2.n</key>
		<integer>-55</integer>
		<key>public.kern2.s</key>
		<integer>50</integer>
		<key>public.kern2.v</key>
		<integer>-100</integer>
		<key>seven</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.uhorn</key>
	<dict>
		<key>public.kern2.u</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.upturn</key>
	<dict>
		<key>public.kern2.decy</key>
		<integer>-90</integer>
		<key>public.kern2.elcy</key>
		<integer>-120</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.H</key>
		<integer>-100</integer>
		<key>public.kern2.U</key>
		<integer>-80</integer>
		<key>public.kern2.Y</key>
		<integer>-250</integer>
		<key>public.kern2.a</key>
		<integer>-80</integer>
		<key>public.kern2.h</key>
		<integer>-90</integer>
		<key>public.kern2.o</key>
		<integer>-45</integer>
		<key>public.kern2.s</key>
		<integer>-80</integer>
		<key>public.kern2.tiret</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.ve</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.decy</key>
		<integer>-40</integer>
		<key>public.kern2.hardcy</key>
		<integer>-10</integer>
		<key>public.kern2.ia</key>
		<integer>-40</integer>
		<key>public.kern2.n</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>10</integer>
		<key>public.kern2.p</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.x</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-170</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.becy</key>
		<integer>-25</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.zecy</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.y</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.H</key>
		<integer>-60</integer>
		<key>public.kern2.S</key>
		<integer>-50</integer>
		<key>public.kern2.Y</key>
		<integer>-200</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.elcy</key>
		<integer>-40</integer>
		<key>public.kern2.h</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>uni0434</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.zecy</key>
	<dict>
		<key>public.kern2.decy</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>20</integer>
		<key>public.kern2.zhe</key>
		<integer>-20</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-80</integer>
		<key>public.kern2.S</key>
		<integer>-80</integer>
		<key>public.kern2.h</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>questiondown</key>
		<integer>-110</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-80</integer>
		<key>question</key>
		<integer>-160</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-90</integer>
		<key>public.kern2.a</key>
		<integer>-120</integer>
		<key>public.kern2.o</key>
		<integer>-120</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-80</integer>
		<key>public.kern2.t</key>
		<integer>20</integer>
	</dict>
	<key>s.ss01</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>10</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<integer>-80</integer>
		<key>four</key>
		<integer>-220</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.tiret</key>
		<integer>-185</integer>
	</dict>
	<key>seven.ss01</key>
	<dict>
		<key>eight</key>
		<integer>-80</integer>
		<key>fraction</key>
		<integer>-220</integer>
		<key>public.kern2.o</key>
		<integer>-220</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>one</key>
		<integer>-20</integer>
		<key>public.kern2.H</key>
		<integer>-80</integer>
		<key>public.kern2.h</key>
		<integer>-60</integer>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>one</key>
		<integer>-150</integer>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>two</key>
		<integer>-80</integer>
	</dict>
	<key>sun</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-60</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>s</key>
		<integer>-30</integer>
	</dict>
	<key>t.ss01</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-10</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>four</key>
		<integer>-20</integer>
		<key>one</key>
		<integer>-40</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>four</key>
		<integer>-20</integer>
		<key>public.kern2.HARD</key>
		<integer>-40</integer>
		<key>public.kern2.Y</key>
		<integer>-140</integer>
		<key>public.kern2.v</key>
		<integer>-60</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-180</integer>
	</dict>
	<key>u1F701</key>
	<dict>
		<key>u1F703</key>
		<integer>-100</integer>
	</dict>
	<key>u1F703</key>
	<dict>
		<key>u1F701</key>
		<integer>-100</integer>
	</dict>
	<key>u1F705</key>
	<dict>
		<key>public.kern2.Asign</key>
		<integer>-140</integer>
	</dict>
	<key>u1F71A</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-180</integer>
	</dict>
	<key>u1F721</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-150</integer>
	</dict>
	<key>u1F738</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-100</integer>
	</dict>
	<key>u1F742</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-200</integer>
	</dict>
	<key>u1F74F</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-55</integer>
	</dict>
	<key>u1F761</key>
	<dict>
		<key>u1F761</key>
		<integer>-60</integer>
	</dict>
	<key>u1F763</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-50</integer>
	</dict>
	<key>u1F765</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-95</integer>
	</dict>
	<key>u1F766</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-120</integer>
	</dict>
	<key>u1F768</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.Asign</key>
		<integer>-80</integer>
		<key>public.kern2.ELCY</key>
		<integer>-100</integer>
	</dict>
	<key>u1F769</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-40</integer>
	</dict>
	<key>u1F76D</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-120</integer>
		<key>public.kern2.H</key>
		<integer>-20</integer>
	</dict>
	<key>uni0410</key>
	<dict>
		<key>uni0437</key>
		<integer>-80</integer>
	</dict>
	<key>uni0423</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
	</dict>
	<key>uni0437</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>20</integer>
	</dict>
	<key>uni043B</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-60</integer>
	</dict>
	<key>uni0442</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-90</integer>
	</dict>
	<key>uni0474</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.ELCY</key>
		<integer>-180</integer>
	</dict>
	<key>uni2604</key>
	<dict>
		<key>uni2604</key>
		<integer>-40</integer>
	</dict>
	<key>uni261B</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-50</integer>
		<key>uni2620</key>
		<integer>-50</integer>
	</dict>
	<key>uni2646.ss02</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-80</integer>
	</dict>
	<key>uni264A</key>
	<dict>
		<key>uni264B</key>
		<integer>-50</integer>
	</dict>
	<key>uni264C</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
	</dict>
	<key>uni264F</key>
	<dict>
		<key>uni2651</key>
		<integer>-120</integer>
	</dict>
	<key>uni2651</key>
	<dict>
		<key>public.kern2.U</key>
		<integer>-100</integer>
		<key>uni2652</key>
		<integer>-20</integer>
	</dict>
	<key>uni2652</key>
	<dict>
		<key>uni26CE</key>
		<integer>-20</integer>
	</dict>
	<key>uni2695</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-45</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-100</integer>
		<key>public.kern2.U</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-190</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-190</integer>
	</dict>
</dict>
</plist>
